body {
  font-family: Arial;
  background: #f3f4f6;
}

.container {
  max-width: 900px;
  margin: auto;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 6px;
}

h2 i {
  margin-right: 8px;
  color: green;
}

table {
  width: 100%;
}

th {
  background: green;
  color: white;
}

td, th {
  padding: 10px;
}
